section {
    display: flex;
    height: 80%;
    width: 80%;
    margin-top: 100px;
    margin-left: 160px;
}

.half-div {
    height: 50%;
    width: 50%;


}

.half-div img {
    height: 70%;
    width: 70%;
    margin-left: 20%;
}

.heading-type-1 {
    font-size: 60px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    line-height: 0.5;
    font-weight: lighter;

}

.heading-type-2 {
    font-size: 55px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Spline Sans', sans-serif;
}

.heading-type-3 {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-size: 45px;
    line-height: 15px;

}

.heading-type-4 {
    font-family: cursive;
    font-size: 45px;
}

h3 {
    font-weight: bold;
    color: rgb(78, 74, 78);
    font-size: 25px;
}

#first-intro {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, rgb(228, 104, 21), rgb(184, 8, 46));
    border-image-slice: 1;
    padding-left: 10px;
}

.orange-color {
    color: orange;
}

#two-slice-div1 img {
    height: 70%;
    width: 70%;
    margin-left: 150px;
}

.button-type-1 {
    display: block;
    margin-top: 100px;
    width: 215px;
    height: 25px;
    background: #ee4343;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

.button-type-2 {
    display: block;
    margin-top: 100px;
    width: 300px;
    height: 25px;
    background: #eb3544;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

p {
    font-size: large;
    color: rgb(110, 92, 110);
}

#three-slice-div {
    display: flex;
}

#three-slice-div img {
    height: 100px;
    width: 100px;

}

#three-slice-div1 {
    border-radius: 25px;
    background: #b9c8c9;
    width: 40%;
    height: 300px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#three-slice-div2 {
    border-radius: 25px;
    background: #fccfb1;
    width: 40%;
    height: 300px;
    padding: 20px;
    margin-left: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

#three-slice-div3 {
    border-radius: 25px;
    background: #b5f2f7;
    width: 40%;
    height: 300px;
    padding: 20px;
    margin-left: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);


}

#three-slice-div1:hover {
    box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;


}

#three-slice-div2:hover {
    box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
}

#three-slice-div3:hover {
    box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;


}

.two-slice-small-div {
    height: 85%;
    width: 40%;


}

.two-slice-small-div img {
    height: 100%;
    width: 80%;
    float: left;


}

.two-slice-large-div {
    height: 85%;
    width: 55%;

}

#bg-img-1 {
    height: 190px;
    width: 190px;
    margin-top: 150px;
    margin-left: 70px;
    z-index: -1;
    position: absolute;


}

#bg-img-2 {
    height: 240px;
    width: 240px;
    margin-top: 190px;
    margin-left: 320px;
    z-index: -1;
    position: absolute;

}

.card-image {
    height: 200px;
    width: 200px;

}

.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 30%;
    width: 27%;
    margin-left: auto;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

footer {

    width: 100%;
    background-color: rgb(53, 44, 44);
    color: white;
    text-align: center;
    margin-top: 200px;
    padding: 30px 0;
}