section {
    display: flex;
}

.section1 {}

.section2 {
    margin-left: 200px;
}

.section3 {
    height: 600px;
    margin-top: 300px;


}

.half-div {
    height: 50%;
    width: 35%;
    margin-left: 10%;

}

.half-div img {
    height: 70%;
    width: 70%;
}

h1 {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Karla', sans-serif;
    line-height: 0.5;

}

h2 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Spline Sans', sans-serif;
}

#first-intro {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;


}

span {
    color: orange;
}

#two-slice-div1 img {
    height: 70%;
    width: 70%;
    margin-left: 150px;
}

.button-type-1 {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

.button-type-2 {
    display: block;
    width: 300px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

p {
    font-size: large;
}

.three-slice-div {
    margin-left: 50px;
    height: 85%;
    width: 25%;
    color: gray;



}

.three-slice-div span {
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Spline Sans', sans-serif;
}

.three-slice-div img {
    height: 45%;
    width: 45%;
}

#three-slice-div1 {
    border-radius: 25px;
    background: #73AD21;
    width: 80%;
    height: 80%;
    padding: 8%;

}

#three-slice-div2 {
    border-radius: 25px;
    background: #f0f794;
    width: 80%;
    height: 80%;
    padding: 8%;

}

#three-slice-div3 {
    border-radius: 25px;
    background: #d1df19;
    width: 80%;
    height: 80%;
    padding: 8%;


}

#two-slice-div1 {
    height: 85%;
    width: 40%;
    background-image: url('images/shapes/shape-1.png');
    background-size: 200px 200px;
    background-position-y: 100px;
    background-repeat: no-repeat;

}

#two-slice-div2 {
    height: 85%;
    width: 55%;
}